@import url("https://fonts.googleapis.com/css?family=Courier+Prime&display=swap");

* {
	font-family: 'Courier Prime', monospace;
}

.container {
  position: absolute;
  width: 100%;
  height: 700px;
}

.Instructions {
  margin: auto;
  text-align: center;
  padding: 70px 0;
  border: solid 2px;
}

.gen-box {
	display: flex;
	justify-content: center;
	margin: auto;
	padding: 70px 0;
	border: solid 1px;
}

.gen-btn {
	padding: 40px 60px;
	font-size: 40px
}

.view {
	display: flex;
	justify-content: center;
	margin: auto;
	padding: auto 0;
	border: solid 1px;
}

.view p {
	font-size: 4em;
}